:root {
  --white: #ffffff;
  --black: #141414;
  --dark-green: #1E2827;
  --light-green: #C6CDD1;
  --gray: rgba(20, 20, 20, 0.50);
  --light-gray: rgba(20, 20, 20, 0.40);
  --border: rgba(255, 255, 255, 0.10);
}

/*catalog styling*/

.catalog-image-container {
  margin-bottom: 0px;
  width: 276px;
  height: 325px;
}

.catalog-title {
  color: var(--dark-green);
    font-family: 'Epilogue';
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.8px;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 64px;
  margin-bottom: 80px;
  gap: 24px;
}

.catalog-image {
  margin-top: 26px;
  margin-bottom: 25px;
}

.catalog-item {
  flex-basis: calc(100% / 4 - 24px);
}

.catalog-captions {
  background-color: var(--white);
  margin-top: 0px;
}

.catalog .item-title {
  color: var(--black);
  margin-bottom: 0;
  padding: 0;
  white-space: nowrap;
  width: 276px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  font-family: 'Epilogue';
  font-weight: 400;
  font-style: normal;
  line-height: 18px;
  letter-spacing: -0.28px;
  margin-bottom: 4px;
}

.catalog .item-price {
  color: var(--gray);
  font-family: 'Epilogue';
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.24px;
}

.button {
  margin-left: auto;
  cursor: pointer;
}

.button.buy {
  background-color: var(--dark-green);
  color: var(--white);
  font-size: 12px;
  font-weight: 400px;
  padding: 18px 35px;
  border-radius: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  border: none;
}

/*for cover wrap*/
.catalog-cover-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.catalog-cover-text {
  position: absolute;
  top: 0;
  background-color: var(--dark-green);
  border-radius: 8px;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.catalog-cover-text-title {
  font-family: 'Epilogue';
  font-size: 14px;
  color: var(--white);
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 18px;
  letter-spacing: -0.28px;
  margin-top: 10px;
}

.catalog-cover-text-body {
  font-family: 'Epilogue';
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  line-height: 18px;
  letter-spacing: -0.14px;
  margin-bottom: 20px;
}

.catalog-item:hover .catalog-cover-text {
  transform: translateY(0);
}

/*for modal*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.catalog-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 904px;
  min-height: 694px;
  background-color: var(--white);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap:40px;
  padding: 40px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.catalog-close {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0px;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: transparent;
  border: transparent;
}

.is-hidden {
  visibility: none;
  opacity: 0;
  pointer-events: none;
}

.product-modal-image {
  margin-top: 0px;
  width: 276px;
  height: 375px;
}

.modal-catalog-captions {
  background-color: var(--white);
  margin-top: 0px;
}

.modal-item-title {
  margin-bottom: 0;
  padding: 0;
  white-space: nowrap;
  width: 276px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
}

.modal-item-price {
  font-size: 12px;
}


@media screen and (max-width: 1176px) {
  .catalog-section {
    padding: 64px 0;
  }

  .catalog{
    margin-bottom: 40px;
  }

}

@media screen and (max-width: 767px) {
  .catalog-section{
    padding: 40px 0;
  }

  .catalog{
    justify-content: center;
  }

  .catalog-title{
    font-size: 32px;
  }
}