:root {
  --white: #ffffff;
  --black: #141414;
  --dark-green: #1e2827;
  --light-green: #c6cdd1;
  --gray: rgba(20, 20, 20, 0.5);
  --light-gray: rgba(20, 20, 20, 0.4);
  --border: rgba(255, 255, 255, 0.1);
}

/*catalog styling*/

.catalog-image-container {
  margin-bottom: 0px;
  width: 276px;
  height: 325px;
}

.catalog-title {
  color: var(--dark-green);
  font-family: 'Epilogue';
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.8px;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 64px;
  margin-bottom: 80px;
  gap: 24px;
}

.catalog-image {
  margin-top: 26px;
  margin-bottom: 25px;
}

.catalog-item {
  flex-basis: calc(100% / 4 - 24px);
}

.catalog-captions {
  background-color: var(--white);
  margin-top: 0px;
}

.catalog .item-title {
  color: var(--black);
  margin-bottom: 0;
  padding: 0;
  white-space: nowrap;
  width: 276px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  font-family: 'Epilogue';
  font-weight: 400;
  font-style: normal;
  line-height: 18px;
  letter-spacing: -0.28px;
  margin-bottom: 4px;
}

.catalog .item-price {
  color: var(--gray);
  font-family: 'Epilogue';
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.24px;
}

.heart-item {
  stroke: var(--black);
  fill: var(--white);
  margin-left: 230px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.heart-item:hover,
.heart-item:focus {
  fill: red;
}

.button.buy {
  background-color: var(--dark-green);
  color: var(--white);
  font-size: 12px;
  font-weight: 400px;
  padding: 18px 35px;
  border-radius: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-left: auto;
  margin-top: 80px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.buy:hover,
.button.buy:focus {
  border-color: var(--white);
  background-color: rgba(30, 40, 39, 0.8);
}

/*for cover wrap*/
.catalog-cover-wrap {
  position: relative;
  overflow: hidden;
  width: 276px;
  height: 325px;
}
.catalog-cover-text {
  position: absolute;
  top: 0;
  background-color: var(--dark-green);
  border-radius: 8px;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.catalog-cover-text-title {
  font-family: 'Epilogue';
  font-size: 14px;
  color: var(--white);
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 18px;
  letter-spacing: -0.28px;
  margin-top: 20px;
}

.catalog-cover-text-body {
  font-family: 'Epilogue';
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  line-height: 18px;
  letter-spacing: -0.14px;
  // margin-top: 20px;
  margin-bottom: 20px;
}

.catalog-item:hover .catalog-cover-text {
  transform: translateY(0);
}

/*for modal*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.catalog-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 904px;
  min-height: 694px;
  background-color: var(--white);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 40px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.catalog-close {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0px;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: lightgrey;
  border: 1px solid transparent;

  transform: rotate(0deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.catalog-close:hover,
.catalog-close:focus {
  border-radius: 50%;
  transform: rotate(180deg);
  border-color: var(--darkgreen);
}

.is-hidden {
  visibility: none;
  opacity: 0;
  pointer-events: none;
}

.product-modal-image {
  margin-top: 0px;
  width: 276px;
  height: 375px;
}

.modal-catalog-captions {
  background-color: var(--white);
  margin-top: 0px;
}

.modal-item-title {
  margin-bottom: 0;
  padding: 0;
  white-space: nowrap;
  width: 276px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
}

.modal-item-price {
  font-size: 12px;
}

.form-modal-container {
  width: 100%;
  height: 100;
}

/*modal-forms*/

.form-field {
  display: flex;
  position: rel ative;
  flex-direction: column;
}

.form-input,
.form-textarea {
  font-size: 16px;
  width: 100%;
  margin-bottom: 24px;
  margin-top: 12px;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus,
.form-textarea:hover,
.form-textarea:focus {
  border-color: var(--black);
}

.form-textarea {
  resize: none;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 16px;
  height: 166px;
}

.button.button-submit {
  width: 100%;
  background-color: var(--darkgreen);
  padding: 18px 0px;
  color: var(--white);
  border-radius: 8px;
  font-size: 12px;
  border: 1px solid transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.button-submit:hover,
.button.button-submit:focus {
  border-color: var(--white);
  border: 1px solid var(--metallicgrey);
  background-color: rgba(30, 40, 39, 0.8);
}

.privacy-policy {
  text-decoration: none;
  color: rgba(20, 20, 20, 0.4);
  font-size: 12px;
  transition: text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-policy:hover,
.privacy-policy:focus {
  text-decoration: underline;
}

.submit-note {
  color: rgba(20, 20, 20, 0.4);
  font-size: 12px;
  margin-top: 12px;
}

@media screen and (max-width: 1176px) {
  .catalog-section {
    padding: 64px 0;
  }

  .catalog {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .catalog-section {
    padding: 40px 0;
  }

  .catalog {
    justify-content: center;
  }

  .catalog-title {
    font-size: 32px;
  }
}
