@import '~node_modules/modern-normalize/modern-normalize.css';
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a{
    text-decoration: none;
    
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Epilogue', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: -0.28px;
    margin: 0;
}

.section{
    width: 100%;
    margin: auto;
}

.container {
    width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}


@media screen and (max-width: 1176px){
    .container {
        width: 768px;
        padding: 0 32px;
    }
}

@media screen and (max-width: 767px) {
    .container {
        width: 100%;
    }
}