:root {
    --white: #ffffff;
    --black: #141414;
    --dark-green: #1E2827;
    --light-green: #C6CDD1;
    --gray: rgba(20, 20, 20, 0.50);
    --light-gray: rgba(20, 20, 20, 0.40);
    --border: rgba(255, 255, 255, 0.10);
}

.header{
    padding: 36px 0;
    background: var(--black);
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo{
    width: 123px;
    height: 19px;
}

.header-navigation{
    display: flex;
    align-items: center;
    column-gap: 80px;
}

.header-navigation-list{
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-navigation-list li{
    display: flex;
    align-items: center;
}


.header-navigation-link{
    color: #fefefe99;
    font-family: Epilogue;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    text-transform: uppercase;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-navigation-link:hover{
    color: rgba(254, 254, 254, 1);

}


.header-button{
    color: #fefefe99;
    text-align: center;
    font-family: Epilogue;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    // text-transform: uppercase;
    padding: 18px 36px;
    border-radius: 8px;
    background-color: var(--dark-green);
    border: none;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-button:hover {
    color: rgba(254, 254, 254, 1);
}

.hamburger-container{
    display: none;
}


@media screen and (max-width: 1176px) {
    .header{
        padding: 20px 0;
    }
}

@media screen and (max-width: 767px) {
    .container {
        width: 100%;
    }

    .header {
            padding: 36px 0;
    }

    .header-navigation-list, .header-button{
        display: none;
    }

    .hamburger-container{
        display: flex;
        justify-content: flex-end;
    }
}


.hamburger{
    width: 100%;
    height: 100%;
    background: var(--dark-green);
    transform: translateX(0);
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    padding: 36px 20px;

    transform: translateX(0);
        transition-property: transform, opacity;
        transition-duration: 250ms, 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}

.hamburger.is-hidden{
    transform: translateX(100%);
}

.hamburger-close-icon{
    fill: var(--white);
}

.menu-burger-container{
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.hamburger-close{
    color: var(--white);
}


.hamburger-menu-list{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hamburger_link{
    color: var(--white);
    padding: 7px 0;
    display: block;
}