:root {
    --white: #ffffff;
    --black: #141414;
    --dark-green: #1E2827;
    --light-green: #C6CDD1;
    --gray: rgba(20, 20, 20, 0.50);
    --light-gray: rgba(20, 20, 20, 0.40);
    --border: rgba(255, 255, 255, 0.10);
}

.hero-section {
    background-color: var(--black);
    width: 100%;
    padding: 80px 0;

}

.hero-title {
    color: var(--white);
    font-family: 'Epilogue';
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -1.52px;
    margin-bottom: 20px;
    width: unset;

    @media screen and (min-width: 768px) {
        color: var(--white);
        font-family: 'Epilogue';
        font-size: 60px;
        font-style: normal;
        font-weight: 600;
        line-height: 62px; 
        letter-spacing: -2.4px;
}

    @media screen and (min-width: 1280px) {
        font-size: 60px;
        font-weight: 600;
        line-height: 62px;
        letter-spacing: -2.4px;
        margin-top: 0;
        margin-bottom: 0;
        width: 750px;
        order: unset;       
    }
}

.hero-col-1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 43px;
}

.hero-col-2{
    display: flex;
    justify-content: space-between;
}


/* Start of Slider */
.hp-slider-img{
    width: 266px;

    @media screen and (min-width: 768px) {
        width: 436px;
    }

    @media screen and (min-width: 1280px){
        order: 3;
        align-self: flex-end;  
    }
}

.banner-slider{ 
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;

    @media screen and (min-width: 768px) {
        background-color: #1e2827;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 255px;
    }
}

.slide-control {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 32px;

}

.button-list{
    display: inline-flex;
    gap: 12px;
}

.counter-list{
    display: inline-flex;
    color:#fff;
    gap: 6px;

}

.slider-range{
    position: relative;
    width: 40px;
    height: 100%;
}

.slider-range::before{
    content: "";
    position: absolute;
    top: 7px;
    width: 100%;
    height: 1px;
    background-color: currentColor;  
}

.control_prev:hover, .control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
}

.control_prev {
    border-radius: 8px;
    width: 32px;
    height: 32px;
    background: #ffffff00;
    color: #fff;
    fill: #FFF;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
    border: 1px solid #ffffff;
    display: block;
}

.chevronleft .chevronright {
    fill: #FFF;
    margin-left: -6px;
}

.control_next {
    border-radius: 8px;
    width: 32px;
    height: 32px;
    background: #ffffff00;
    color: #fff;
    fill: #FFF;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
    border: 1px solid #ffffff;
    display: block;
}

.slider_option {
    position: relative;
    margin: 10px auto;
    width: 160px;
    font-size: 18px;
}

/** End Slider **/

.herotext-box{
    width: 282px;
    margin-left: auto;

    @media screen and (min-width: 768px) {
        width: 248px;
        margin-top: -40px;
        
    }

    @media screen and (min-width: 1280px) {
        margin-top: 0;
        order: 2;
        
    }
}

.herotext{
    color: var(--white);
    font-family: 'Epilogue';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: -0.28px;
    width: 282px;
}

.hero-text {
    
    color: var(--white);
    font-weight: 300;
    display: inline-flex;

    @media screen and (min-width: 768px) { 
    }
}

.hero-text-tablet{
    display: none;
}

.hero-watch-div{
    order: 4;

}

.hero-wristwatch{
    width: auto;
}

    .hero-text-hidden{
        display: none;
    }


@media screen and (max-width: 1176px) {
    .hero-col-1{
        display: flex;
        flex-wrap: wrap;
    }

    .hero-title{
        width: 100%;
    }

    .herotext{
        position: absolute;
        right: 32px;
        top: 464px;
        width: 248px;
    }

    .hero-watch-div{
        width: 100%;
        order: unset;
        margin-top: 40px;
    }

    .hero-col-2{
        display: block;
    }

    .hero-wristwatch{
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .container {
        width: 100%;
    }

    .hero-section{
        padding: 40px 0;
    }

    .hero-title{
        font-size: 38px;
    }

    .herotext{
        display: none;
    }

      .hero-text-hidden{
        display: flex;
        justify-content: flex-end;
        margin-top: 40px;
        padding-left: 70px;
    }

    .herotext-mobile{
        color: var(--white);
        font-family: 'Epilogue';
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 18px;
        letter-spacing: -0.28px;
    }
}