.sale-section {
  width: 100%;
  padding: 0 0 80px 0;
}

.sale-column{
  display: flex;
  padding: 0 98px;
  gap: 40px;
}

.sale-description {
  color: rgba(20, 20, 20, 0.5);
  font-family: 'Epilogue';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.14px;
  margin-top: 9px;
  margin: 0 auto;
}

.sale-description-details {
  color: rgba(20, 20, 20, 0.5);
  font-family: 'Epilogue';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.14px;
  margin-top: 9px;
  margin: 0 auto;
}

.sale-watch:hover {
  cursor: pointer;
}

.watch-items{
  margin: 0;
  width: 146px;
  height: 146px;
}


.sale-info-container{
  width: 50%;
}

.sale-heading {
  color: var(--black);
  font-family: 'Epilogue';
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.64px;
  margin-bottom: 40px;
}

.sale-heading {
  color: var(--black);
  font-family: Epilogue;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.64px;
  margin-bottom: 40px;
}

.wrapper {
  display: flex;
  gap: 20px;
}

.preview-wrapper {
  width: 406px;
  height: 614px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
}


.sale-watch-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sale-watch-preview {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #141414;
}


.sale-details-heading {
  color: var(--black);
  font-family: 'Epilogue';
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.48px;
  margin-bottom: 0px;
}

.sale-product-tag {
  color: rgba(20, 20, 20, 0.5);
  font-family: 'Epilogue';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
  margin-top: 8px;
}

.current-price-on-sale {
  color: var(--black);
  font-family: 'Epilogue';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.36px;
  margin: 0 auto;
}

.actual-price {
  color: rgba(20, 20, 20, 0.5);
  font-family: 'Epilogue';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: -0.24px;
  text-decoration-line: line-through;
  margin-left: 8px;
}

.sale-details-title {
  color: var(--black);
  font-family: 'Epilogue';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.36px;
  text-transform: uppercase;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0 auto;
  border-top: 1px solid var(--black);
  display: flex;
  align-items: center;
  position: relative;
}

.sale-details-title:after {
  content:'';
  width: 16px;
  height: 2px;
  background-color: var(--black);
  position: absolute;
  right: 0;
}

.sale-details{
  margin-bottom: 40px;
}

.sale-details-2{
  margin-bottom: 20px;
}



@media screen and (max-width: 1176px){
  .sale-section {
      padding: 64px 0;
  }

  .sale-column{
    display: flex;
    flex-direction: column;
  }

  .sale-info-container{
    width: 100%;
  }

  .sale-column {
      padding: 0 66px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
  }

  .sale-section {
    padding: 40px 0;
  }

  .sale-column {
      padding: 0;
  }

  .sale-details-heading{
      font-size: 24px;
  }
}

 @media screen and (max-width:430px){
  .wrapper{
    justify-content: space-between;
  }

   .watch-items {
     margin: 0;
     width: 80px;
     height: 80px;
   }

   .preview-wrapper{
     width: 235px;
     height: 350px;
  } 
}
