<section class="section hp-about">
    <div class="container">
      <div class="container-title">
        <h2 class="about-title">About us</h2>
      </div>
      <div class="about-section">
        <article>
          <p class="description">
            Welcome to our premium watch collection, where luxury and style
            <br />meet functionality and precision. Our selection of timepieces
            <br />embodies the very best in Swiss craftsmanship and engineering,
            <br />ensuring that you'll always have a reliable and stylish
            accessory on<br />your wrist.
          </p>
          <p class="description secondary">
            At our premium watch collection, we believe that a watch
            <br />is more than just a timekeeping device – it's a statement
            <br />piece that reflects your personality and style. So why
            <br />settle for anything less than the best? Browse our
            <br />collection today and discover the perfect watch for you.
          </p>
        </article>
        <img
          src="../images/watchspot.gif"
          alt="about image"
          width="892"
          height="500"
          class="image"
        />

      </div>
    </div>
    </section>
