<section class="catalog-section section" id="catalog">
  <div class="container catalog-container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog list">
      <li class="catalog-item">
        <div class="catalog-image-container">
          <div class="catalog-cover-wrap">
            <img
              src="./images/tube-watch-s42.png"
              width="276"
              height="274"
              alt="tube-watch-s42"
              class="catalog-image"
            />
            <div class="catalog-cover-text">
              <p class="catalog-cover-text-title">DESCRIPTION</p>
              <p class="catalog-cover-text-body">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <p class="catalog-cover-text-title">DETAILS & FEATURE</p>
              <p class="catalog-cover-text-body">
                Gender: man<br />
                Size: 46x54.5mm<br />
                Case Colour: Steel<br />
                Band Material: Metal<br />
                Case Material: Metal<br />
                Features: Multifunction<br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <div class="catalog-captions">
          <h5 class="item-title">Tube Watch S42 Date Steel With Black Case</h5>
          <p class="item-price">
            €395
            <span
              ><svg class="heart-item" width="14" height="14">
                <use href="./images/icons.svg#icon-heart"></use></svg
            ></span>
          </p>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-image-container">
          <div class="catalog-cover-wrap">
            <img
              src="./images/avondale-watch-police.png"
              width="276"
              height="274"
              alt="tube-watch-s42"
              class="catalog-image"
            />
            <div class="catalog-cover-text">
              <p class="catalog-cover-text-title">DESCRIPTION</p>
              <p class="catalog-cover-text-body">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <p class="catalog-cover-text-title">DETAILS & FEATURE</p>
              <p class="catalog-cover-text-body">
                Gender: man<br />
                Size: 46x54.5mm<br />
                Case Colour: Steel<br />
                Band Material: Metal<br />
                Case Material: Metal<br />
                Features: Multifunction<br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <div class="catalog-captions">
          <h5 class="item-title">Avondale Watch Police For Men</h5>
          <p class="item-price">
            €800
            <span
              ><svg class="heart-item" width="14" height="14">
                <use href="./images/icons.svg#icon-heart"></use></svg
            ></span>
          </p>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-image-container">
          <div class="catalog-cover-wrap">
            <img
              src="./images/diver-300m-coaxial-chronometer-chronograph.png"
              width="276"
              height="274"
              alt="tube-watch-s42"
              class="catalog-image"
            />
            <div class="catalog-cover-text">
              <p class="catalog-cover-text-title">DESCRIPTION</p>
              <p class="catalog-cover-text-body">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <p class="catalog-cover-text-title">DETAILS & FEATURE</p>
              <p class="catalog-cover-text-body">
                Gender: man<br />
                Size: 46x54.5mm<br />
                Case Colour: Steel<br />
                Band Material: Metal<br />
                Case Material: Metal<br />
                Features: Multifunction<br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <div class="catalog-captions">
          <h5 class="item-title">
            Diver 300M Co-Axial Master Chronometer Chronograph
          </h5>
          <p class="item-price">
            €600
            <span
              ><svg class="heart-item" width="14" height="14">
                <use href="./images/icons.svg#icon-heart"></use></svg
            ></span>
          </p>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-image-container">
          <div class="catalog-cover-wrap">
            <img
              src="./images/diver-300m-coaxial-chronometer.png"
              width="276"
              height="274"
              alt="tube-watch-s42"
              class="catalog-image"
            />
            <div class="catalog-cover-text">
              <p class="catalog-cover-text-title">DESCRIPTION</p>
              <p class="catalog-cover-text-body">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <p class="catalog-cover-text-title">DETAILS & FEATURE</p>
              <p class="catalog-cover-text-body">
                Gender: man<br />
                Size: 46x54.5mm<br />
                Case Colour: Steel<br />
                Band Material: Metal<br />
                Case Material: Metal<br />
                Features: Multifunction<br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <div class="catalog-captions">
          <h5 class="item-title">Diver 300M Co-Axial Master Chronometer</h5>
          <p class="item-price">
            €1400
            <span
              ><svg class="heart-item" width="14" height="14">
                <use href="./images/icons.svg#icon-heart"></use></svg
            ></span>
          </p>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-image-container">
          <div class="catalog-cover-wrap">
            <img
              src="./images/taman-watch-by-police-for-men.png"
              width="276"
              height="274"
              alt="tube-watch-s42"
              class="catalog-image"
            />
            <div class="catalog-cover-text">
              <p class="catalog-cover-text-title">DESCRIPTION</p>
              <p class="catalog-cover-text-body">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <p class="catalog-cover-text-title">DETAILS & FEATURE</p>
              <p class="catalog-cover-text-body">
                Gender: man<br />
                Size: 46x54.5mm<br />
                Case Colour: Steel<br />
                Band Material: Metal<br />
                Case Material: Metal<br />
                Features: Multifunction<br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <div class="catalog-captions">
          <h5 class="item-title">Taman Watch By Police For Men</h5>
          <p class="item-price">
            €500
            <span
              ><svg class="heart-item" width="14" height="14">
                <use href="./images/icons.svg#icon-heart"></use></svg
            ></span>
          </p>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-image-container">
          <div class="catalog-cover-wrap">
            <img
              src="./images/malawi-watch-police-for-men.png"
              width="276"
              height="274"
              alt="tube-watch-s42"
              class="catalog-image"
            />
            <div class="catalog-cover-text">
              <p class="catalog-cover-text-title">DESCRIPTION</p>
              <p class="catalog-cover-text-body">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <p class="catalog-cover-text-title">DETAILS & FEATURE</p>
              <p class="catalog-cover-text-body">
                Gender: man<br />
                Size: 46x54.5mm<br />
                Case Colour: Steel<br />
                Band Material: Metal<br />
                Case Material: Metal<br />
                Features: Multifunction<br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <div class="catalog-captions">
          <h5 class="item-title">Malawi Watch Police For Men</h5>
          <p class="item-price">
            €555
            <span
              ><svg class="heart-item" width="14" height="14">
                <use href="./images/icons.svg#icon-heart"></use></svg
            ></span>
          </p>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-image-container">
          <div class="catalog-cover-wrap">
            <img
              src="./images/drvier-3000m-co-axial-3.png"
              width="276"
              height="274"
              alt="tube-watch-s42"
              class="catalog-image"
            />
            <div class="catalog-cover-text">
              <p class="catalog-cover-text-title">DESCRIPTION</p>
              <p class="catalog-cover-text-body">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <p class="catalog-cover-text-title">DETAILS & FEATURE</p>
              <p class="catalog-cover-text-body">
                Gender: man<br />
                Size: 46x54.5mm<br />
                Case Colour: Steel<br />
                Band Material: Metal<br />
                Case Material: Metal<br />
                Features: Multifunction<br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <div class="catalog-captions">
          <h5 class="item-title">Diver 300M Co-Axial Master Chronometer</h5>
          <p class="item-price">
            €1200
            <span
              ><svg class="heart-item" width="14" height="14">
                <use href="./images/icons.svg#icon-heart"></use></svg
            ></span>
          </p>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-image-container">
          <div class="catalog-cover-wrap">
            <img
              src="./images/greenlane-watch.png"
              width="276"
              height="274"
              alt="tube-watch-s42"
              class="catalog-image"
            />
            <div class="catalog-cover-text">
              <p class="catalog-cover-text-title">DESCRIPTION</p>
              <p class="catalog-cover-text-body">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <p class="catalog-cover-text-title">DETAILS & FEATURE</p>
              <p class="catalog-cover-text-body">
                Gender: man<br />
                Size: 46x54.5mm<br />
                Case Colour: Steel<br />
                Band Material: Metal<br />
                Case Material: Metal<br />
                Features: Multifunction<br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <div class="catalog-captions">
          <h5 class="item-title">Greenlane Watch By Police For Men</h5>
          <p class="item-price">
            €1000
            <span
              ><svg class="heart-item" width="14" height="14">
                <use href="./images/icons.svg#icon-heart"></use></svg
            ></span>
          </p>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-image-container">
          <div class="catalog-cover-wrap">
            <img
              src="./images/squadrc-5402.png"
              width="276"
              height="274"
              alt="tube-watch-s42"
              class="catalog-image"
            />
            <div class="catalog-cover-text">
              <p class="catalog-cover-text-title">DESCRIPTION</p>
              <p class="catalog-cover-text-body">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <p class="catalog-cover-text-title">DETAILS & FEATURE</p>
              <p class="catalog-cover-text-body">
                Gender: man<br />
                Size: 46x54.5mm<br />
                Case Colour: Steel<br />
                Band Material: Metal<br />
                Case Material: Metal<br />
                Features: Multifunction<br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <div class="catalog-captions">
          <h5 class="item-title">Squardrc 5402 Chrono</h5>
          <p class="item-price">
            €359
            <span
              ><svg class="heart-item" width="14" height="14">
                <use href="./images/icons.svg#icon-heart"></use></svg
            ></span>
          </p>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-image-container">
          <div class="catalog-cover-wrap">
            <img
              src="./images/diver-300m-coaxial-master-chronometer-chronograph-2.png"
              width="276"
              height="274"
              alt="tube-watch-s42"
              class="catalog-image"
            />
            <div class="catalog-cover-text">
              <p class="catalog-cover-text-title">DESCRIPTION</p>
              <p class="catalog-cover-text-body">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <p class="catalog-cover-text-title">DETAILS & FEATURE</p>
              <p class="catalog-cover-text-body">
                Gender: man<br />
                Size: 46x54.5mm<br />
                Case Colour: Steel<br />
                Band Material: Metal<br />
                Case Material: Metal<br />
                Features: Multifunction<br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <div class="catalog-captions">
          <h5 class="item-title">
            Diver 300M Co-Axial Master Chronometer Chronograph
          </h5>
          <p class="item-price">
            €400
            <span
              ><svg class="heart-item" width="14" height="14">
                <use href="./images/icons.svg#icon-heart"></use></svg
            ></span>
          </p>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-image-container">
          <div class="catalog-cover-wrap">
            <img
              src="./images/citizen-watch.png"
              width="276"
              height="274"
              alt="tube-watch-s42"
              class="catalog-image"
            />
            <div class="catalog-cover-text">
              <p class="catalog-cover-text-title">DESCRIPTION</p>
              <p class="catalog-cover-text-body">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <p class="catalog-cover-text-title">DETAILS & FEATURE</p>
              <p class="catalog-cover-text-body">
                Gender: man<br />
                Size: 46x54.5mm<br />
                Case Colour: Steel<br />
                Band Material: Metal<br />
                Case Material: Metal<br />
                Features: Multifunction<br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <div class="catalog-captions">
          <h5 class="item-title">Citizen</h5>
          <p class="item-price">
            €519
            <span
              ><svg class="heart-item" width="14" height="14">
                <use href="./images/icons.svg#icon-heart"></use></svg
            ></span>
          </p>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-image-container">
          <div class="catalog-cover-wrap">
            <img
              src="./images/armani-exchabge-watch.png"
              width="276"
              height="274"
              alt="tube-watch-s42"
              class="catalog-image"
            />
            <div class="catalog-cover-text">
              <p class="catalog-cover-text-title">DESCRIPTION</p>
              <p class="catalog-cover-text-body">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <p class="catalog-cover-text-title">DETAILS & FEATURE</p>
              <p class="catalog-cover-text-body">
                Gender: man<br />
                Size: 46x54.5mm<br />
                Case Colour: Steel<br />
                Band Material: Metal<br />
                Case Material: Metal<br />
                Features: Multifunction<br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>
        </div>
        <div class="catalog-captions">
          <h5 class="item-title">Armani Exchange</h5>
          <p class="item-price">
            €400
            <span
              ><svg class="heart-item" width="14" height="14">
                <use href="./images/icons.svg#icon-heart"></use></svg
            ></span>
          </p>
        </div>
      </li>
    </ul>

    <!--button for buying-->
    <button type="button" class="button buy" data-modal-open>BUY NOW</button>
  </div>
</section>

<!--catalog-modal-->
<div class="backdrop is-hidden" data-modal>
  <div class="catalog-modal">
    <button class="catalog-close" type="button" data-modal-close>
      <svg class="catalog-close-icon" width="24" height="24">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="product-modal-image">
      <img
        src="./images/tube-watch-s42.png"
        width="276"
        height="274"
        alt="tube-watch-s42"
        class="catalog-image"
      />
      <div class="modal-catalog-captions">
        <h5 class="modal-item-title">
          Tube Watch S42 Date Steel With Black Case
        </h5>
        <p class="modal-item-price">€395</p>
      </div>
    </div>

    <!--modal form buy now-->
    <div class="form-modal-container">
      <form name="buy-now-form">
        <!--input name-->
        <label class="form-field">
          <span class="form-label">Name</span>
          <input
            class="form-input"
            type="text"
            name="buyer-name"
            placeholder="Enter your full name"
            required
          />
        </label>

        <!--input email-->
        <label class="form-field">
          <span class="form-label">Email</span>
          <input
            class="form-input"
            type="email"
            name="buyer-email"
            placeholder="Enter your email"
            required
          />
        </label>

        <!--input email-->
        <label class="form-field">
          <span class="form-label">Card Number</span>
          <input
            class="form-input"
            type="text"
            name="buyer-card"
            placeholder="Enter card"
            required
          />
        </label>

        <!--comment-->
        <label class="form-field">
          <span class="form-label">Comments</span>
          <textarea
            class="form-textarea"
            name="user-comment"
            placeholder="Enter your text"
            required
          ></textarea>
        </label>

        <!--submit button-->
        <button class="button button-submit" type="submit">SUBMIT</button>

        <!--note-->
        <p class="submit-note">
          By clicking on “Submit” button, you agree to our
          <a href="#" rel="noopener noreferrer" class="privacy-policy"
            >Privacy Policy</a
          >&comma;<br />
          and allow Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>
  </div>
</div>
