<footer class="footer">
  <div class="container footer-container">
    <div class="footer-container-1">
      <div class="footer-logo-container">
        <svg class="footer-logo" width="50" height="50">
          <use href="./images/icons.svg#logo-icon"></use>
        </svg>
      </div>

      <address>
        <ul class="footer-address-list list">
          <li>
            <a href="telto:+380(68)4439426" class="footer-navigation-link"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li>
            <a
              href="https://goo.gl/maps/Pz16LBZZHS2UmRyD9"
              class="footer-navigation-link"
              >1678 S. Pioneer Road <br />
              Salt Lake City <br />
              UT 84104</a
            >
          </li>
        </ul>
      </address>
    </div>
    <div class="footer-container-2">
      <nav>
        <ul class="footer-navigation-list list">
          <li>
            <a href="#about" class="footer-navigation-link">About Us</a>
          </li>
          <li>
            <a href="#catalog" class="footer-navigation-link">Catalog</a>
          </li>
          <li>
            <a href="#sale" class="footer-navigation-link">Sale</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="footer-container-3">
      <ul class="footer-social-list list">
        <li class="footer-social-item"><a class="footer-social-link" href="https://facebook.com" target="_blank" rel="noopener noreferrer">
          <svg class="footer-social-icon" width="28" height="28">
            <use href="./images/icons.svg#facebook"></use>
          </svg></a>
        </li>

        <li class="footer-social-item"><a  class="footer-social-link" href="https://instagram.com" target="_blank" rel="noopener noreferrer">
          <svg class="footer-social-icon" width="28" height="28">
            <use href="./images/icons.svg#instagram"></use>
          </svg></a>
        </li>

        <li class="footer-social-item"><a class="footer-social-link" href="https://youtube.com" target="_blank" rel="noopener noreferrer">
          <svg class="footer-social-icon" width="28" height="28">
            <use href="./images/icons.svg#youtube"></use>
          </svg></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="container lower-container">
    <div class="footer-container-4">
      <p class="lower-text">©2022 The Watch Spot. All rights reserved.</p>
    </div>
    <div class="footer-container-5">
      <a href="#" class="lower-footer-link">Privacy Policy</a>
      <a href="#" class="lower-footer-link">Terms of Service</a>
    </div>
  </div>
</footer>
