<section class="gallery-section">
  <div class="container">
    <p class="top-text">New Watches</p>
    <h1 class="section-title">
      Green And Bronze—The<br />Match Made In Heaven
    </h1>

    <div class="item">
      <img
        src="./images/Rectangle-9.jpg"
        alt="Rectangle 9"
        width="576px"
        height="422px"
      />
    </div>
    <div class="item">
      <img
        src="./images/Rectangle-8.jpg"
        alt="Rectangle 8"
        width="576px"
        height="422px"
      />
    </div>
  </div>
</section>
