<section class="gallery-section section">
  <div class="container gallery-container">
    <h2 class="top-text">New Watches</h2>
    <p class="gallery-title">
      Green And Bronze—The<br />
      Match Made In Heaven
    </p>

    <div class="gallery-item">
      <ul class="gallery-item-list list">
        <li>
          <img
            srcset="./images/Rectangle-9.jpg 1x, ./images/Rectangle-9@2x.jpg 2x"
            src="./images/Rectangle-9.jpg"
            alt="Rectangle 9"
            width="800"
            height="422px"
          />
        </li>
        <li>
          <img
            srcset="./images/Rectangle-8.jpg 1x, ./images/Rectangle-8@2x.jpg 2x"
            src="./images/Rectangle-8.jpg"
            alt="Rectangle 8"
            width="800"
            height="422px"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
