<section class="section sale-section" id="sale">
  <div class="container sale-container">
    <div class="sale-col1">
      <div class="sale-inner-col1">
        <ul>
          <li><img src="./images/image67.jpg" alt="watch" /></li>
          <li><img src="./images/image64.jpg" alt="watch" /></li>
          <li><img src="./images/image65.jpg" alt="watch" /></li>
          <li><img src="./images/image66.jpg" alt="watch" /></li>
        </ul>
        <img src="./images/sale-big-image.jpg" alt="big-watch" />
      </div>
    </div>
    <div class="sale-inner-col2">
      <div class="catalog-cover-text">
        <p class="catalog-cover-text-title">DESCRIPTION</p>
        <p class="catalog-cover-text-body">
          Richly detailed with an understated design - the Police Men's
          Greenlane watch features a versatile multifunction design that fits
          effortlessly into work and play. The steel case is adorned with a
          semi-transparent black dial. The timepiece exhibits a contrast through
          a black IP bracelet with matching crown and pushers.
        </p>
        <p class="catalog-cover-text-title">DETAILS & FEATURE</p>
        <p class="catalog-cover-text-body">
          Gender: man<br />
          Size: 46x54.5mm<br />
          Case Colour: Steel<br />
          Band Material: Metal<br />
          Case Material: Metal<br />
          Features: Multifunction<br />
          Water Resistant: 5 (ATM) <br />
          Band Colour: Steel
        </p>
      </div>
    </div>
  </div>
</section>
